<!-- ... Votre contenu existant ... -->

<div id="footer" class="bg-success text-light p-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">&copy; 2023 Tous droits réservés par Cupagis-umab et devloppé par <a href="https://www.instagram.com/ma_habibou/" target="_blank" class="text-light" style="text-decoration: none; font-weight: bold;">Habibou</a></p>
            </div>
        </div>
    </div>
</div>

<!-- ... Le reste de votre contenu ... -->
