{% block content %}
{% load static %}

<div class="d-flex justify-content-center">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'cupagis.jpg' %}" class="d-block w-100" alt="Bienvenu au Cupagis" style="max-width: 450px;">
      </div>
      <div class="carousel-item ">
        <img src="{% static 'cupagis 1.jpg' %}" class="d-block w-100" alt="Bienvenu au Cupagis" style="max-width: 450px;">
      </div>
    </div>
  </div>
</div>



<br>

<div class="row row-cols-1 row-cols-md-3 g-4">
  {% if modules %}
    {% for module in modules %}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Module: {{ module.nom_Module }}</h5>
            <p class="card-text">Niveau: {{ module.niveau }}</p>
            <p class="card-text">Semestre: {{ module.semestre }}</p>
            <p class="card-text">Enseigné par: {{ module.prof }}</p>
            <a href="{% url 'module_detail' module.id module.nom_Module %}" class="btn btn-warning">Plus</a>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
  <div class="justify-content-center text-center"> <!-- Center the alert -->
    <div class="alert alert-warning" role="alert">
      Aucun module ne correspond à vos critères de recherche!
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}